.login-header {
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;

  .login-logo-container {
    display: flex;
    justify-content: center;

    .login-logo {
      width: 50%;
      height: auto;
    }
  }
}
